.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 10px;
    padding: 15px;
    border: 1px solid #112D32;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #45717c;
    left: calc(50% - 122px);
    top: calc(50% - 65px);
    margin: auto;

    background-color:  #4b79a1 ;
    /* background-image: radial-gradient(
      circle at center,
      #4b79a1 50%,
      #283e51 30%
    ); */
  }

  .label {
    display: flex;
    font-weight: 500;
    flex-direction: column;
    color: rgb(211, 204, 204);
    gap: 3px;
  }

  .input {
    padding: 0 5px;
    height: 31px;
    font-size: 14px;
    font-weight: 600;
    color: white ;
    border: 1px solid #112D32;
    border-radius: 8px;
    background-color: #363458 ;
    width: 200px;
  }



  .input:hover,
  .input:focus {
    outline: none;
  }

  .button {
    text-decoration: none;
    padding: 5px;
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

    background-color: rgb(16, 82, 226);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: white;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.button:hover{
  background-color: #188CE8;
}